In [3]:
import pandas as pd

In [4]:
df= pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
print(len(df))

9704

In [7]:
print(df["fuel_type"].nunique())

2

In [8]:
print(df["fuel_type"].value_counts())

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [9]:
print(df.isnull().sum()>0)

engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

In [10]:
print((df.isnull().sum()>0).sum())

4

In [11]:
print(df[df['origin']=='Asia']['fuel_efficiency_mpg'].max())

23.759122836520497

In [12]:
median_before=(df["horsepower"].median())
print(median_before)

149.0

In [13]:
most_freq=(df["horsepower"].mode()[0])
print(most_freq)

152.0

In [14]:
df['horsepower_new'] = df['horsepower'].fillna(most_freq)

In [15]:
median_after=(df["horsepower_new"].median())
print(median_after)

152.0

In [16]:
#All the cars from Asia
df_asia=df[df['origin']=='Asia']

In [17]:
# Select weight + model_year
X = df_asia[['vehicle_weight', 'model_year']]

In [18]:
print(X)

      vehicle_weight  model_year
8        2714.219310        2016
12       2783.868974        2010
14       3582.687368        2007
20       2231.808142        2011
21       2659.431451        2016
...              ...         ...
9688     3948.404625        2018
9692     3680.341381        2016
9693     2545.070139        2012
9698     3107.427820        2005
9703     2908.043477        2005

[3247 rows x 2 columns]

In [19]:
X=X.head(7)

In [20]:
print(X)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [21]:
X=X.to_numpy()

In [22]:
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [23]:
import numpy as np

In [24]:
XTX = X.T @ X

In [25]:
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]